<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>

<nav th:replace="~{fragments/navbar}"></nav>
<body>

<div class="row special-list" >
  <div th:each=" dinner : ${myDinners}"  class="col-lg-4 col-md-6 special-grid lunch">
    <div class="gallery-single fix">
      <img th:src="${dinner.photo}" class="img-fluid" alt="Image">
      <div class="why-text">
        <form sec:authorize="hasRole('ADMIN')" th:action="@{/edit/dinner/{id}(id=${dinner.id})}">
          <button type="submit" class="btn btn-link">Edit</button>
        </form>
        <h4 th:text="${dinner.name}">Special Lunch 1</h4>
        <p th:text="${dinner.description}" >Sed id magna vitae eros sagittis euismod.</p>
        <h5 th:text="'$' + ${dinner.price}" > $15.79</h5>
      </div>
    </div>
  </div>
  <form sec:authorize="hasRole('ADMIN')" th:action="@{/add/dinner}">
    <button type="submit" class="custom-button">  Add Dinner</button>
  </form>

</div>


</body>

</html>