<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>

<nav th:replace="~{fragments/navbar}"></nav>
<body>

<div class="row special-list" >
<div th:each=" lunch : ${myLunches}"  class="col-lg-4 col-md-6 special-grid lunch">
    <div class="gallery-single fix">
        <img th:src="${lunch.photo}" class="img-fluid" alt="Image">
        <div class="why-text">
            <form sec:authorize="hasRole('ADMIN')" th:action="@{/edit/lunch/{id}(id=${lunch.id})}">
                <button type="submit" class="btn btn-link">Edit</button>
            </form>
            <h4 th:text="${lunch.name}">Special Lunch 1</h4>
            <p th:text="${lunch.description}" >Sed id magna vitae eros sagittis euismod.</p>
            <h5 th:text="'$' + ${lunch.price}" > $15.79</h5>
        </div>
    </div>
</div>
    <form sec:authorize="hasRole('ADMIN')" th:action="@{/add/lunch}">
        <button type="submit" class="custom-button">  Add Lunch</button>
    </form>

</div>


</body>

</html>