<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<nav th:replace="~{fragments/navbar}"></nav>
<body>

<div class="col-lg-4 col-md-6 special-grid lunch">
    <div class="gallery-single fix">
        <img src="images/img-04.jpg" class="img-fluid" alt="Image">
        <div class="why-text">
            <h4>Special Lunch 1</h4>
            <p>Sed id magna vitae eros sagittis euismod.</p>
            <h5> $15.79</h5>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 special-grid lunch">
    <div class="gallery-single fix">
        <img src="images/img-05.jpg" class="img-fluid" alt="Image">
        <div class="why-text">
            <h4>Special Lunch 2</h4>
            <p>Sed id magna vitae eros sagittis euismod.</p>
            <h5> $18.79</h5>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 special-grid lunch">
    <div class="gallery-single fix">
        <img src="images/img-06.jpg" class="img-fluid" alt="Image">
        <div class="why-text">
            <h4>Special Lunch 3</h4>
            <p>Sed id magna vitae eros sagittis euismod.</p>
            <h5> $20.79</h5>
        </div>
    </div>
</div>
</body>
</html>